In [1]:
import json
from collections import Counter, defaultdict, deque
import gc

import numpy as np
import pandas as pd
import glob
import time
from tqdm import tqdm

from sklearn import model_selection, metrics
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sn

import lightgbm as lgb
from scipy.stats import skew

import feather
import pickle
import h5py

from concurrent import futures
#import riiideducation

In [2]:
train = pd.read_feather("./train_sorted_full2.feather")

In [5]:
row_ids = pd.read_csv("../final_row_id.csv")

In [8]:
row_ids.to_feather("./final_row_id.feather")

In [6]:
row_ids

             row_id
0          32933156
1          32933157
2          32933158
3          32933159
4          32933160
...             ...
101230327  71467965
101230328  71467966
101230329  77363505
101230330  55873154
101230331  32938743

[101230332 rows x 1 columns]

In [7]:
train.shape

(101230332, 10)

In [9]:
output = pd.merge(row_ids, train, on="row_id", how="inner")

In [11]:
output.tail(2)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
101230330,55873154,503649,1185903711,6371,0,16,2,1,30000.0,1
101230331,32938743,87425772049,705741139,12040,0,3394,1,1,16000.0,1

In [12]:
output.to_feather("./final_train.feather")